.idea
.vscode
*.pyc
/data
/cpp/build
/cpp/cmake-build-debug
/cpp/cmake-build-debug-remote
cpp/cmake-build-debug-remote-host
/*/node_modules
/*/package-lock.json
/js/demo/addresses.json
/js/demo/artefacts.json
/js/demo/mnemonics.json
