*.pyc
.DS_Store
.idea
.vscode
/cpp/build
/cpp/cmake-build-debug
/cpp/cmake-build-debug-remote
/cpp/cmake-build-debug-remote-host
/cpp/depends
/data
/go/chaincode/cash/cash
/js/alice.secrets.json
/js/bob.secrets.json
/js/carol.secrets.json
/js/demo/*.secrets.json
/js/demo/addresses.json
/js/demo/artefacts.json
/js/demo/fabric/*.secrets.json
/js/demo/fabric/addresses.json
/js/demo/fabric/artefacts.json
/js/demo/fabric/mnemonics.json
/js/demo/fabric/public-keys.json
/js/demo/mnemonics.json
/js/demo/public-keys.json
/js/node_modules
/js/package-lock.json
/js/public-keys.json
/js/test/fabric/network/artefacts
/js/test/fabric/network/crypto-config
local-notes.txt