.idea
.vscode
*.pyc
/data
/cpp/build
/cpp/cmake-build-debug
/cpp/cmake-build-debug-remote
cpp/cmake-build-debug-remote-host
/*/node_modules
/*/package-lock.json
/js/demo/addresses.json
/js/demo/artefacts.json
/js/demo/mnemonics.json
/js/demo/*.secrets.json
/js/demo/public-keys.json
/js/demo/fabric/addresses.json
/js/demo/fabric/artefacts.json
/js/demo/fabric/mnemonics.json
/js/demo/fabric/*.secrets.json
/js/demo/fabric/public-keys.json
/js/test/fabric/network/artefacts
/js/test/fabric/network/crypto-config
